* {
	box-sizing: border-box;
	font-family: Arial;
}

body {
	background-color: #ccc;
}
h1, h2, h3 {
	text-align: center
}
div.tweet{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
button {
	margin: 10px;
	border: 0;
	text-transform: uppercase;
	padding: 15px;
	box-shadow: 5px 5px #aaa;
	cursor: pointer;
	background-color: #ccc;
	font-size: 1rem;
}
a {
	text-decoration: none;
	margin: 10px;
	color: #000;
	text-transform: uppercase;
	padding: 15px;
	box-shadow: 5px 5px #aaa;
	cursor: pointer;
	background-color: #ccc;
	font-size: 1rem;
}
button:hover, a:hover {
	background-color: #aaa;
	color: #ccc;
}